extends layouts/base

block content
    tr
        td.wrapper
            p Шановний(а), 
                span.username #{name}!
            p Ви подали запит на скидання пароля. Використайте код нижче для підтвердження:
            table.code-box(role="presentation", border="0", cellpadding="0", cellspacing="0")
                tbody
                    tr
                        td
                            p.code #{resetCode}
            p Якщо ви не надсилали запит на скидання пароля, просто ігноруйте цей лист або зв'яжіться зі службою підтримки, якщо у вас є будь-які запитання.
            p З найкращими побажаннями, Команда Dim Tvaryn.