extends layouts/base

block content
    tr
        td.wrapper
            p Шановний(а), #{name}!
            p Дякуємо за ваш зворотній зв'язок! Ми щиро цінуємо ваші думки та пропозиції — вони допомагають нам ставати кращими.
            p Ваш відгук вже передано відповідальній команді. Якщо він потребує відповіді, ми зв'яжемося з вами найближчим часом.
            p З найкращими побажаннями,
            p Команда Dim Tvaryn
