extends layouts/base

block content
    tr
        td.wrapper
            p Dear, 
                span.username #{name}!
            p Thank you for choosing Marketplace! Please confirm your email address by clicking the link below. We'll communicate important updates with you from time to time via email, so it's essential that we have an up-to-date email address on file.
            table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
                tbody
                    tr
                        td(align="left")
                            table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                                tbody
                                    tr
                                        td
                                            a(href=url, target="_blank") Verify your email address 
            p If you did not sign up for a Marketplace account, you can simply disregard this email.
            p Enjoy your time!
