extends layouts/base

block content
    tr
        td.wrapper
            p Шановний(а), 
                span.username #{name}!
            p Ласкаво просимо до Dim Tvaryn! Ми раді бачити вас серед наших користувачів. Будь ласка, підтвердьте свою електронну пошту, натиснувши кнопку нижче, щоб активувати обліковий запис.
            table.btn(role="presentation", border="0", cellpadding="0", cellspacing="0")
                tbody
                    tr
                        td(align="left")
                            table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                                tbody
                                    tr
                                        td
                                            a(href=url, target="_blank") Підтвердити електронну пошту 
            p Цей крок необхідний для початку користування вашим обліковим записом та отримання важливих оновлень.
            p Якщо ви не створювали обліковий запис на Dim Tvaryn, просто ігноруйте цей лист.
            p Дякуємо, що обрали Dim Tvaryn!
            p З найкращими побажаннями, Команда Dim Tvaryn.
