extends layouts/base

block content
    tr
        td.wrapper
            h3 Новий запит від користувача!
            p
                strong Email: 
                | #{email}
            p
                strong Повідомлення: 
                | #{feedback}
